* {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border: border-box;
  }
  body {
    overflow-x: hidden;
    background-size: contain;
    background-color: aqua;
  }

  .section-centre
  {
    text-align: center;
    margin-top: 10%;
    font-size:x-large;
  }

  .form{
    margin-left: 3%;
    font-size: larger;
  }

  .button
  {
    padding: 9px;
    font-size: medium;
    background-color: blue;
    color: #ffffff;
    border: 10px rgb(92, 99, 229);
    border-radius: 8px;
  }

  .button:hover
  {
    background-color: black;
    color: rgb(170, 244, 169);
  }

  .button:active
  {
    color:rgb(243, 175, 244);
  }

  .input
  {   
    font-size: large;
  }

  .lorem-text 
  {
    margin-left: 30px;
    margin-right: 30px;
  }