 *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-style: "en";
}

 body{
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

.navbar
{
    height:80px;
    background-color: antiquewhite;
    text-align: centre;
    justify-content: space-evenly;
    display: flex;
}

.nav-logo
{
    width: 180px;
    height: 92px;
    display: flex;
    text-align: left;
}

.logo 
{
    width: 100px;
    height: 56px;
    
    margin-top: 15px;
    
    background-image: url("img1.png");
    background-size: contain;
}

.nav-texts
{
    font-size: 20px;
    margin-top: 15px;
    overflow: hidden;
    transition: var(--transition);
}

.nav-texts:hover 
{
    background-color: aqua;
    height:20px;
}

.nav-toggle
{
    margin-top: 15px;
    height: 50px;
    width: 25px;
}

.nav-toggle:hover
{
    background-color: aqua;
    height:20px;
}

.show-links
{
    height: 160px;
}

.links 
{
    padding:10px;
    height: auto;
    display: flex;
}

