@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: "Quicksand";   
}

body 
{
    background-image: url("bckg.png") ;
    background-size: 100%;
    background-repeat: no-repeat;
}

.navbar
{
    display: flex;
    /* padding-left: 50px; */
    padding-top: 25px;
    padding-left: 30px;
    /* margin-left: 20px; */
}


.links
{   margin-top: 7px;
    /* margin-left: auto; */
    margin-right: 20%;
    padding-left: 37%;
}

.navbar h1 
{
    color: #FFFFF0;
    padding-left: 190px;
}

.links a 
{
    text-decoration: none;
    margin-left: 35px;
    padding: 0px;
    color: #FFFFF0;
    font-weight: bold;
    font-size: 19px;
}

.links a:hover 
{
    color:rgb(78, 163, 236);
}

.info 
{
    margin-top: 15%;
    display: flex;
    color: #FFFDFA;
}

.info p
{
    padding-right: 75px;
    padding-left: 10%;
    font-weight: bold;
    font-size: 80px;
    width: 750px;
    /* animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms infinite; */
}

/* @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 750px;
    }
  } */
  /* @keyframes blinkTextCursor {
    from {
      border-right-color: hsl(0, 0%, 80%);
    }
    to {
      border-right-color: transparent;
    }
  } */

.info p
{
    background: linear-gradient(to right, #FFFDFA 0, black 10%, #FFFDFA 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
}

@keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 750px;
    }
    100% {
      background-position: 750px;
    }
  }



.info button 
{
    width: 150px;
    height: 50px;
    font-size: 23px;
    font-weight: bold;
    background-color: #FFFFF0;
    border: 5px black;
    margin-top: 43px;
    text-decoration: none;
}

.info button:hover 
{
    box-shadow: 3px, 5px, 10px rgb(244, 242, 242);
    cursor: pointer;    
    background-color:rgb(78, 163, 236);
    color: #FFFFF0; 
    text-align: centre;
    text-decoration: none;
}

.login 
{
  background-color: #FFFFF0;
  margin-left: 650px; 
  width: 500px;
  height: 470px;
  /* width:auto; */
  margin-top: 150px;
  box-shadow: 1px, 3px, 5px rgb(30, 47, 240) ;
}

.login h2
 {
   color: rgb(30, 47, 240);
   margin-left: 15%;
   font-size: 40px;
   padding-top: 20px;
   /* padding-right: 15px; */
 }

 .login label 
 {
   color: rgb(9, 9, 9);
   text-align: center;
   margin-left: 15%;
   margin-top: auto;
   padding-top: 30px;
   display: flex;
   font-weight: bold;
 }

 .login input
 {
   /* width: 100%;
   margin-left: 45%;
   margin-right: 80%; */

   width: 300px;
   margin-left: 15%;
   border-radius: 7px;
   box-shadow: 10px, 3px, 5px rgb(30, 47, 240);
   border: 1px solid #4e4b4b;
   display: block;
   margin-top: 10px;
   height: 25px;
   font-style: normal;  
 }

 .login button
 {
   background-color: rgb(30, 47, 240);;
   font-size: 17px;
   width: 100px;
   height: 35px;
   border-radius: 7px;
   border: rgb(30, 47, 240);;
   margin-left: 40%;
   margin-top: 7%;
   color: #ffffff;
   font-weight: bold;
   cursor:pointer;
   margin-bottom: 8px;
 }

 .login button:hover{
  background-color: #000000;
}

